<form class="form" autocomplete="off" (ngSubmit)="register()">
    <div class="control">
      <h1>Register</h1>
    </div>
    <div class="control block-cube block-input">
        <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required>
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    <div class="control block-cube block-input">
      <input name="password" type="password" placeholder="Password" [(ngModel)]="password" />
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
    </div>
    <button class="btn block-cube block-cube-hover" type="submit">
      <div class="bg-top">
        <div class="bg-inner"></div>
      </div>
      <div class="bg-right">
        <div class="bg-inner"></div>
      </div>
      <div class="bg">
        <div class="bg-inner"></div>
      </div>
      <div class="text">Register</div>
    </button>
    <br>
  </form>
 