<div class="login-reg-panel">
    <div class="login-info-box">
      <h2 style="color: black;">"Revolutionize Your Sales Approach with Cutting-Edge Analytics and Visualization!"</h2>
      <h2>Have an account?</h2>
      <label id="label-register" for="log-reg-show">Login</label>
      <input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
    </div>        
    <div class="register-info-box">
      <h1 style="color: black; font-size: 60px;">Sales analytics.</h1>
      <h6>"Streamline your workflow with ease! Register today to access exclusive features and boost your productivity."</h6>
      <h4>Don't have an account?</h4>
      <label id="label-login" for="log-login-show">Register</label>
      <input type="radio" name="active-log-panel" id="log-login-show">
    </div>       
    <div class="white-panel">
      <div class="login-show">
       <app-login></app-login>
      </div>
      <div class="register-show">
        <app-register></app-register>
      </div>
    </div>
  </div>